; \-------------- SIMULATION CFG FILE ----------------/
; \------ Last modified 01/25/21 by Paul Calot -------/

[params]
seed = 1111
scheme = euler_explicit
dt = 0.01
number_of_steps = 2000
; TODO stopping_criteria = 
