; \-------------- SIMULATION CFG FILE ----------------/
; \------ Last modified 01/25/21 by Paul Calot -------/

[params]
scheme = euler_explicit
dt = 0.025
number_of_steps = 3000
; TODO stopping_criteria = 
