; \-------------- T/home/paul/Documents/projects/Neutralisation_Faisceau_ions_negatifs_propulsion_satellite/cfg_files/thruster.cfgHRUSTER SYSTEM CFG FILE ----------------/
; \------ Last modified 01/26/21 by Paul Calot -------/

[general]
; number of cells in each direction (x, y)
resolution = 5,20
; size of the last dimension z
lz = 0.1

[geometry]
; L for x axis, l for y axis
L_mot = .01
l_mot = .003
L_1 = .0045
l_1 = .005
L_2 = .007
l_2 = .015
delta_vert_12 = .005
L_vacuum = .01
l_vacuum = .005
mesh_resolution = 100
refine_mesh = True

[phi]
phi_top_mot = 0
phi_bord_mot = N
phi_electrode1 = 100
phi_inter_electrode = N
phi_electrode2 = 300
phi_sup_vacuum = N 
phi_inf_vacuum = N
rho_elec = 0.0
